<!DOCTYPE html>
<html lang="en">

<%-include("../partials/head.ejs", {title: "Homepage"}) %>

<% // store user logged in, && membership status 
    const isLoggedIn = !!user; 
    const isMember = isLoggedIn && user.membership_status === 'member'; 
    const isAdmin = isMember && user.is_admin;

    // create a method to make names proper case
     const toTitleCase = (str) => {
        return str.replace(
        /\w\S*/g,
        text => text.charAt(0).toUpperCase() + text.substring(1).toLowerCase()
        );
    };

    // create username from first and last names
    const username = 
            user ? toTitleCase(user.first_name) + " " + toTitleCase(user.last_name) :  "";
        
%>

</body>

<%-include("../partials/header", {user, username, isLoggedIn, isMember}) %>

<%-include("../partials/main", {user, isLoggedIn, messages, isMember}) %>

<%-include("../partials/footer") %>

<script src="/script/javaScript.js"></script>

</body>

</html>