<%-include("../../partials/head") %>
<form method="POST" action="/messages" class="message-editor-form">
  <h1>Send a message</h1>
  <div class="form-group">
    <input
      type="text"
      name="messageTitle"
      id="m-title"
      placeholder="Title"
      required
    />
  </div>
  <div class="form-group">
    <textarea
      name="messageBody"
      id="m-body"
      placeholder="Type your message here..."
    ></textarea>
  </div>
  <div class="info-box"><%-include("../../partials/errors") %></div>
  <div class="form-actions">
    <button type="submit">Send message</button>
    <a href="/" class="btn btn-cancel">Go back</a>
  </div>
</form>
